<div  ng-controller="blogEntryCtrl">
    <div class="twelve columns" role="content">

        <article>

            <h3><b>{{entry[0].title}}</b></h3>
            <h6>Written by <a href="#">{{entry[0].author}}</a> on {{entry[0].date}}.</h6>

            <div class="row">
                <div class="six columns">
                    <div ng-bind-html-unsafe="text"></div>
                </div>
                <div class="six columns">

                </div>
            </div>
            <hr />
            <br />
        </article>

    </div>
</div>