<div  ng-controller="blogEntryCtrl">
    <div class="twelve columns" role="content">

        <article>

            <h3><b>{{entry.title}}</b></h3>
            <h6>Written by <a href="#">{{entry.author}}</a> on {{entry.date}}.</h6>

            <div class="row">
                <div class="six columns">
                    <div ng-bind-html-unsafe="text"></div>
                </div>
                <div class="six columns">

                </div>
            </div>
            <hr />
            <br />
        </article>
        <div login>
            <div id="login-inner" ng-controller="LoginController">
                <i class="foundicon-error">You must login to submit comments.</i>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Username</th>
                        <td><input type="text" class="login-inp" ng-model="form.username"/></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" class="login-inp" ng-model="form.password"/></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><a class="button" ng-click="submitAuth()">Login</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="comments" class="row">
            <div class="six columns">
                <div id="submitComment">
                    <textarea ng-model="body"></textarea>
                    <p>
                        <a ng-click="submitComment()" class="button" resetOnSubmit="true"></a>
                    </p>
                </div>

                <div class="comment" ng-repeat="comment in comments">
                    <p><b>{{comment.username}}</b></p>
                   <p>{{comment.body}}</p>
                </div>
            </div>
            <div class="six columns">
                <div ng-repeat="viewer in viewers">
                    <p>{{viewer.username}}</p>
                </div>
            </div>
        </div>
    </div>
</div>